.ui{
  display: grid;
  grid-template-columns: auto auto;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
}


.grid-item{
  background-color: aqua;
  padding: 10px 10px;
  border: 5px solid blue;
  text-align: center;
}

.side-items{
  background-color: yellow;
  padding: 10px;
  border: 5px solid blue;
}

.bottompanel{
  display: grid;
  grid-template-columns: auto auto;
}

.bottom-items{
  background-color: aqua;
  padding: 10px 10px;
  border: 5px solid blue;
  text-align: left;
}